<% provide(:title, "Login") %>
<div class="content-template">
    <h2>Login</h2>

    <div class="row form-template">
        <div class="col-md-6 col-md-offset-3">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

            <div class="form-item">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
            </div>

            <div class="form-item">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
            </div>

            <div class="form-item">
                <%= f.submit "Login", class: "btn btn-primary" %>
                <% end %>
            </div>

        </div>
    </div>
    <ul class="form-footer">
        <li><%= link_to "新規登録はこちら", signup_path %></li>
    </ul>
</div>
